body {
   margin:0;
   padding:0;
   height:100%;
}

/*this container is part of getting the footer to stay at the bottom */
#page-container {
  /* 2 lines to keep footer at bottom of page */
  position:relative;
  min-height:100vh;
}

#content-wrap {
  /* 1 line to keep footer at bottom of page */
  padding-bottom: 100px;   /* Height of the footer */

  text-align: center;
}

#footer-wrap {
  /* 4 lines to keep footer at bottom of page */
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;   /* Height of the footer */

  display: flex;
  flex-direction: column;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;	
}

.header {
  display: flex;
}

.footer {
  display: flex;
}

.push-right {
  margin-left: auto;
}

li a:hover {
  text-decoration: underline;
}


#logo {
  padding-top: 109px;
}
.search-shadow {
  margin: 0 auto;
  margin-top: 29px;
  background-color: rgb(255, 255, 255);
  width: auto;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 582px;
  align-items: center;
  justify-content: center;
  }
#searchbar {
  background-color: transparent;
  border: none;
  outline: none;
  background-color: blue;
}
#buttons {
  text-align: center;
}
#french {
  text-align: center;
}

