body {
   margin:0;
   padding:0;
   height:100%;
   font-family: arial, sans-serif;
   background-color: #fff;
}

/*this container is part of getting the footer to stay at the bottom */
#page-container {
  /* contains everything except footer */
  /* 2 lines to keep footer at bottom of page */
  position:relative;
  min-height:100vh;
}

#content-wrap {
  /* 1 line to keep footer at bottom of page */
  padding-bottom: 100px;   /* Height of the footer */

  text-align: center;
}

#footer-wrap {
  /* 4 lines to keep footer at bottom of page */
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;   /* Height of the footer */
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header a {
	display: block;
	
	text-align: center;
	padding-left: 15px;
	text-decoration: none;	
}

li a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  font-size: 13px;
  line-height: 28px;
  padding-top: 16px;
  padding-bottom: 9px;
  color: rgba(0, 0, 0, 0.85);
}

.footer {
  display: flex;
  margin: 0 27px 0 0;
  border-top: 1px solid #dadce0;
}

.footer a {
  font-size: 15px;
  padding: 0 0 0 27px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: rgba(0,0,0,.54);
  line-height: 40px;
}

.push-right {
  margin-left: auto;
}

.about {
  margin-left: 10px;
}

.product-icon {
  height: 16px;
  width: 16px;
  padding: 7px;
  margin: 0 0 0 15px;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(3, 4px);
  grid-template-rows: repeat(3, 4px);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  cursor: pointer;
}

.square {
  height: 4px;
  width: 4px;
  margin: 0px;
  padding: 0px;
  background: #727272;
}

.product-icon:hover .square {
  background: black;
}

.login-button {
  color: #fff;
  cursor: default;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #4285f4;
  border-radius: 2px;
  background: linear-gradient(to top, #4387fd, #4683ea);
  font-weight: 700;
  line-height: 28px;
  padding: 0 12px 0 12px;
  margin: 0 30px 0 15px;
}

.login-button:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  text-decoration: none;
}

#logo {
  /* padding-top: 109px; */
  margin-top: 100px;
}
.search-shadow {
  margin: 0 auto;
  margin-top: 29px;
  background-color: rgb(255, 255, 255);
  width: auto;
  border-color: rgba(223, 225, 229, 0);
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 582px;
  align-items: center;
}

.search-shadow:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#searchbar {
}

.google-input {
  font-size: 16px;
  color: #000;
  /* opacity: 0.87; */
  font-weight: 400;
  font-family: arial, sans-serif;
  line-height: 34px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.87); /* Check if this is text colour */
  outline: none;
}

.magnifying-glass {
  height: 20px;
  width: 20px;
  padding: 0px 13px 0px 13px;
  color: rgb(154, 160, 166);
  fill: currentColor;
}

#buttons {
  margin-top: 30px;
}

/* ">" = children; "*" = wildcard */
#buttons > * {
  margin: 0 4px 0 4px;
  padding: 0 16px 0 16px;
  height: 36px;
  border-width: 1px;
  border-color:#f8f9fa;
  border-style: solid;
  background-color: #f8f9fa;
  
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  font-family: arial, sans-serif;
}

#buttons > *:hover {
  border-width: 1px;
  border-color: #dadce0;
  box-shadow: 0 1px 1px #dadce0;
}

#french {
  color: rgb(32, 33, 36);
  font-size: 13px;
  margin-top: 32px;
}

